<a href="/">Go Back</a>
<hr>
<header *ngIf="bookmark">
    <h2>{{bookmark.title}}</h2>
    <p><strong>URL: </strong>{{bookmark.url}}</p>
    <p><strong>Category: </strong> {{bookmark.category}}</p>  
    <br>
    <a class="btn btn-default" href="{{bookmark.url}}" target="_blank">Visit Website</a>  
</header>

<h3>Update Bookmark</h3>
<form (submit)="updateBookmark(bookmark)">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="bookmark.title">    
    </div>    
    <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" [(ngModel)]="bookmark.url">    
    </div>  
    <div class="form-group">
        <label>Category</label>
        <input type="text" class="form-control" [(ngModel)]="bookmark.category">    
    </div>  
    <button class="btn btn-primary">Submit</button>
</form>